{% extends "base.html" %}

{%block top%}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Delivery
      </h1>
    </div>
  </div>
</section>
{%endblock top%}

{%block main%}
<p>
Wing, an Alphabet company, has built a small, lightweight aircraft and navigation 
system that can deliver small packages--including food, medicine and household items
--directly to homes in minutes. Created in 2012, Wing has conducted more than 100,000+
flights across three continents. We believe drone delivery will improve the way our
cities operate by reducing road congestion and creating new economic
opportunities for local businesses.
</p>
{%endblock main%}